.tabs{
  .tabs_title{
    width: 100%;
    padding: 15rpx;
    display: flex;
    text-align: center;
    .title_item{
      flex: 1;
    }
    &.active{
      border-bottom: 1px silid var(--themeColor);
    }
  }
  .tabs_content{

  }
}